* {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;  
}

.max_container {
    max-width: 1324px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header_icons_container {
    padding: 0rem 2rem;
    width: 100%;
    min-height: 4rem;
    display: grid;
    background-color: #47cfac;
    font-size: 4rem;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.redes_icons {
    font-size: 4rem;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}

.nav_logo_container {
    background-color: white;
    width: 50%;
}

.icon_logo {
    margin-left: 2rem;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color:#47cfac;
}

.title_logo {
    font-size: 1.8rem;
    color: black;
}

.profile_link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.primer_blog {
    background-color: #E6E9ED;
    padding: 2rem;
    display: block;
    width: 100%;
    gap: 3rem;
}

.blog1_container {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img3_profile {
    width: 28rem;
    height: 18rem;
    border-radius: 5%;
}

.description_blog1 {
    width: 100%;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
}

.title_blog {
    font-weight: bold;
    font-size: 2rem;
}

.title_blogs {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    border-bottom: #E6E9ED 1px solid;
}

.blogs_ultimos {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
    gap: 1rem;
}

.blog_ultimo {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #E6E9ED 1px solid;
}

.img_gris {
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 10%;
    max-width: 28rem;
    min-width: 18rem;
}

.line_green {
    background-color: #47cfac;
    min-height: 4rem;
}

footer {
    font-size: 1.5rem;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}



/* DESKTOP */
@media screen and (min-width: 768px){
    header {
        border: red 1px solid;
     } 
    
     .icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .icon_logo {
        margin-left: 2rem;
        font-size: 5rem;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold; 
        color:#47cfac;
    }
    
    .title_logo {
        font-size: 3rem;
        color: black;
    }
    
    .primer_blog {
        display: flex;
        width: 100%;
    }
    
    .blog1_container {
        width: 40%;
    }
    
    .img3_profile {
        width: 35rem;
        height: 25rem;
    }
    
    .description_blog1 {
        width: 60%;
    }
    
    .blogs_ultimos {
        display: grid;
        grid-template-columns: 33% auto auto;

    } 
    
    .img_gris {
        max-width: 35rem;
        min-width: 25rem;
    }
    
    .blog_ultimo {
        padding: 2rem;
    }
    
    
    footer {
        font-size: 2rem;
    }
}