* {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.max_container {
    max-width: 1324px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header_icons_container {
    padding: 0rem 2rem;
    width: 100%;
    min-height: 4rem;
    display: grid;
    background-color: #47cfac;
    font-size: 4rem;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.redes_icons {
    font-size: 4rem;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}

.nav_logo_container {
    background-color: white;
    width: 50%;
}

.icon_logo {
    margin-left: 2rem;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color:#47cfac;
}

.title_logo {
    font-size: 1.8rem;
    color: black;
}

.profile_link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.title_comollegue {
    font-size: 2rem;
    display: grid;
    justify-content: center;
}

.container_comollegue {
    padding: 2rem;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}

.img_comollegue {
    width: 100%;
    border-radius: 10%;
    justify-items: center;
    padding: 2rem;
}



.line_green {
    background-color: #47cfac;
    min-height: 4rem;
}

footer {
    font-size: 1.5rem;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}



/* DESKTOP */
@media screen and (min-width: 768px){
 
    /* header {
    border: red 1px solid;
 }  */

 .icons {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
}

.icon_logo {
    margin-left: 2rem;
    font-size: 5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color:#47cfac;
}

.title_logo {
    font-size: 3rem;
    color: black;
}

.img_comollegue {
    width: 38%;
    border-radius: 10%;
    justify-items: center;
    padding: 2rem;
}

footer {
    font-size: 2rem;
}

}